@external .gm-sldEditorToolStrip;
.gm-sldEditorToolStrip {
	width: 650px;
}

@external .gm-sldEditorCodeMirrorPanel;
.gm-sldEditorCodeMirrorPanel {
	width: 650px;
	height: 400px;
}

@external .gm-sldEditorSelectTemplateListBox;
.gm-sldEditorSelectTemplateListBox {
	width: 400px;
}

@external .gm-toolbar;
.gm-toolbar {
	padding-bottom: 4px;
	border-bottom: solid 1px grey;
}

@external .gm-toolbarElementTitle;
.gm-toolbarElementTitle {
	font-weight: bold;
	margin-right: 5px;
}

@external .gm-toolbarElement;
.gm-toolbarElement {
	margin-right: 10px;
	padding: 5px 8px;
}

.gm-toolbarElement > span {
	padding-left: 5px;
	vertical-align: middle;
}

.gm-toolbarElement > img {
	vertical-align: middle;
}

@external .gm-biggerText;
.gm-biggerText {
	font-size: 120%;
}

@external .gm-codeMirror;
.gm-codeMirror {
	height: 94%;
}